<!-- This page is inheritance the base page style -->
{% extends 'main/base.html' %}

{% block content %}


<center><a href="/add" class="btn btn-primary" onClick="alert('מעבר לעמוד הוספת פציינט חדש')">Add New Patient</a></center> 
<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Patient ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Birthday</th>
      <th scope="col">Phone</th>
      <th scope="col">Mobile</th>
      <th scope="col">Sick Date</th>
      <th scope="col">Recovery</th>
    </tr>
  </thead>

  <tbody>
  	{% for patient in patients %}  
    <tr>  
    	<!-- <td>{{ patient.id }}</td> -->
        <td>{{ patient.Pid }}</td>  
        <td>{{ patient.name }}</td>
        <td>{{ patient.address }}</td>  
        <td>{{ patient.birthday }}</td>
        <td>{{ patient.phone }}</td>  
        <td>{{ patient.mobile }}</td> 
        <td>{{ patient.sickDate }}</td>  
        <td>{{ patient.recoveryDate }}</td>  
        <td>  
            <a href="/vaccine/{{ patient.id }}">Vaccines</a> 
            <br>
            <a href="/edit/{{ patient.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ patient.id }}">Delete</a>  
        </td>  
    </tr>  
	{% endfor %}  
	</tbody>
</table>
<br>
<center><a href="/add" class="btn btn-primary" onClick="alert('מעבר לעמוד הוספת פציינט חדש')">Add New Patient</a></center>
{% endblock content %}